* {
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.App-header nav ul li {
	padding: 0 10px;
}

.App-header nav ul li a {
	color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
